.cl {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  display: block;
  border-left: 1px inset grey;
  border-top: 1px inset grey;
  border-bottom: 1px inset grey; 
  border-right: none;
}

.cl[role]::before {
  /* Ryder: the addition of a left border means the role needs to shift 0.1rem */
  margin-left: -1.1rem;
}

sentence > .cl {
  border-left: none;
  border-top: none;
  border-bottom: none;   
}

