/* hebrew-treedown.css */

/* LAYOUT RULES */

book {
  padding: 2em;
  /* direction: rtl; */
  /* font-size: 1.5rem; */
}
milestone {
  color: blue;
  display: block;
  margin-block: 1rem 0;
}
milestone + milestone {
  display: inline;
}
sentence {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* Ryder: 1rem space between <p> and <wg> */
}

/*************************************** 
* ELEMENTS THAT SHOULD BE ON NEW LINES *
***************************************/

/* standard new-lined elements in Treedown */
[class='cl'],
[role],

/* potential new-lined elements */
[role]:not([role='aux']) [type='conjuncted-wg'], /* Ryder: break vav-conjuncted elements onto new lines in Hebrew trees only */
[appositioncontainer],
/* Ryder: modifiers like prepositions may look awkward if they are hanging at the end of a line. If they are at the beginning of the line this is not a problem. */
/* [class="modifier-scope"]:not(:first-child),  */
/* [type='group'] > [class="modifier-scope"], */

/* Ryder: sometimes a clause is 'wrapped' by something like a relative pronoun. These could be on a new line to improve readability. */
[type^='wrapper-clause'], /* <-- select only wrappers that wrap clauses */
[type^='wrapper'] /* <-- select all wrappers, regardless of what is wrapped */ {
  display: block;
}

/*******************************************
* ELEMENTS THAT SHOULD BE ON THE SAME LINE *
*******************************************/

/* [role]:not([role='aux']) [type='conjuncted-wg'] { */
/* Ryder: don't break on conjunctions within auxiliaries */
/* display: inline; */
/* } */

/***********************************
* ELEMENTS THAT SHOULD BE INDENTED *
***********************************/

/* [type='modifier-scope']:not([role]):not(:first-child), */
/* [type^='wrapper-clause'], */
/* [type='group'] > [type='modifier-scope']:not([role]), */
[class='cl'] [type='conjuncted-wg'],
[type='group'][role],
[role='apposition'],
[appositioncontainer],
[type^='wrapper']:not([role]),
[class='cl'] [type='conjuncted-wg']:not(:first-child) > w:first-child, /* Ryder: the first word of a conjuncted wg should be indented with the rest of the group, so long as it is a descendent of a clause. */
/* *[role] + [type^='wrapper'][role] > *[class='cl'], */
[class='cl'] [class='cl'],
[type^='wrapper'] > [class='cl'] {
  margin-inline-start: 1rem;
}

*[role] + [type^='wrapper'][role] > *[class='cl'] {
  /* background: lightblue; */
}

[type^='wrapper'][role] {
  /* background: lightyellow; */
}

/***************************************
* ELEMENTS THAT SHOULD NOT BE INDENTED *
***************************************/

[role]:not([role='aux']) [type='conjuncted-wg'] {
  margin-inline-start: 0;
}

/****************
/* ROLE MARKERS *
****************/

[role]::before {
  content: attr(role);
  color: cadetblue;
  margin-inline-end: 0.4rem; /* Ryder: 0.4rem space between role and element seems to generally align with a 1rem space without a role. */
}
[role='aux']::before {
  content: '~';
}
[role='adv']::before {
  content: '+';
}
[role='apposition']::before {
  content: ':';
  /* margin-inline-start: 1rem; */
}

/**************
* WORD LAYOUT *
**************/

/* Ryder: These next three rules are essential to override 
default DOM behaviour that adds whitespace characters
between inline elements. */
wg[role] {
  font-size: 0;
}
wg[role]::before,
wg[role] > * {
  font-size: 1rem;
}

/* Add a light grey dash between morphemes */
w:not([after])::after {
  content: '- '; /* The space is intentional because we are removing the default space from the DOM */
  color: lightgrey;
  margin-left: -0.2em;
}
w:not([after]):empty::after {
  content: 'ה- '; /* The space is intentional because we are removing the default space from the DOM */
  color: lightgrey;
  margin-left: -0.2em;
}

w[after='־']::after,
w[after=' ']::after {
  /* Hebrew maqef, or whitespace should retain normal spacing */
  content: attr(after);
}

/****************
* SPECIAL CASES *
****************/

/* Ryder: clauses with clause roles should have the role above the group and to the right. */

[class='cl'][role] {
  margin-block-start: 1.2rem;
}
[class='cl'][role] > :first-child:not([class='cl']) {
  margin-block-start: -0.7rem;
}
[class='cl'][role]::before {
  margin-inline-start: -1.25rem;
  margin-block-start: -1.4rem;
  margin-bottom: 1rem;
  display: block;
}

/************
* DEBUGGING *
************/

/* Ryder: this is a temporary affordance for debugging - it highlights errors for unprocessed nodes. */
[role^='err']::before {
  background: brown;
  color: white;
  font-size: 0.6rem;
  font-family: monospace;
  padding: 0.05rem 0.3rem;
  border-radius: 0.2rem;
}

/* 
[type^='wrapper'] {
  background: lightblue;
}

[type='modifier-scope']:not(:first-child) {
  background: lightgreen;
}

[type^='wrapper-clause'] {
  background: lightpink;
}

[type='conjuncted-wg'] {
  background: lightyellow;
} 
*/
