/* treedown.css */

sentence > wg {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
} 

wg[class=header] {
    display: block;
    position: fixed;
    width: 6rem;
    top: 5px;
    left: 5px;
    background-color: white;
    opacity: 1;
    overflow: scroll;
}

milestone {
    color: blue;
    display: block;
    padding-right: 6px;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div[class=book]  {
  margin-top: 1in;
  margin-left: 1in;
  margin-bottom: 1in;
  line-height: 1.2;
  background-color: white;
  opacity: 1;
}

book, passage,root {
  line-height: 1.5;
  margin-left: 5rem;
  margin-right: 10rem;
  /* background: linen; */
}


/* WGs */

wg > .wg {
  display: flex;
  flex-direction: column;
}

.cl, .wg {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cl + .cl, .cl + .wg  {
  margin-top: 1rem;
}

.minor {
  margin-left: 1rem;
  position: relative;
}

.minor[role]::before {
  /* Move the role for constituent clauses outside of the clause border */
  margin-left: -1rem;
}

/* Roles */

*[role] {
  position: relative;
  display: block;
}

.cl[role]::before, .wg[role]::before {
  /* Move the role for constituent clauses outside of the clause border */
  margin-left: -1rem;
  position: absolute;
}

.cl[role], .wg[role], w[role] {
  margin-left: 0.8rem;
}

.cl[role] > *[role], .wg[role] > *[role] {
  display: block;
}

wg[role]::before {
  color: cadetblue;
  content: attr(role);
}

w[role]::before {
  color: cadetblue;
  content: attr(role) " ";
}

wg[role=g]::before {
  content: "";
}

wg[role=adv]::before {
  color: cadetblue;
  content: "+ ";
}

/*
  This no longer works because local:oneword() is no longer called.
  Probably need to restore that.

  For participial clauses, consider whether we need to do something
  for multiple words.
*/

w[role=v][mood=participle]::before {
  color: cadetblue;
  content: "v.part ";
}

w[role=v][mood=infinitive]::before {
  color: cadetblue;
  content: "v.inf ";
}

w[role=adv]::before {
  color: cadetblue;
  content: "+ ";
}

w[role=aux]::before, wg[role=aux]::before {
  color: cadetblue;
  content: "~" " ";
}

w[discontinuous]::after {
  content: "*";
  vertical-align: super;
  color: cadetblue;
  font-size: small;
}

/* ----- Apposition - this ain't quite right, but better than nothing ---------*/


/* Apposition */

wg[rule=Np-Appos] > wg:not(:first-child)::before,
wg[rule=Np-Appos] > w:not(:first-child)::before {
    content: ": ";
    color: cadetblue;
    margin-left: 1em;
}

wg[rule=Np-Appos] > wg:not(:first-child),
wg[rule=Np-Appos] > w:not(:first-child) {
    display: block;
}

/* -----  Experimental stuff goes here -------- */

/* 
  RYDER: the additional wg[class=group] predicate is 
  needed for some instances like the last wg/group of Luke 1.19 
*/
wg[role=g], wg.group {
  margin-bottom: 1rem;
}
wg[role=g] > wg, wg.group > wg {
  margin-left: 1rem;
}
wg[role=g] > w, wg.group > w {
  display: block;
  margin-top: 1rem;
}

