div[type=book] {
   margin-left: 8em;
   margin-right: 8em;
}

div > title {
   display: block;
   font-weight: bold;
   font-size: xx-large;
   padding: 1em 0em 1em;
}

chapter > title {
   float: left;
   font-size: xx-large;
   font-weight: bold;
   padding-top: 4px;
   padding-right: 8px;
   padding-left: 4px;
}

p {
    font-size: large;
    display: block;
    padding: 0.25em 0em 0.25em;
}

q {
    font-weight: bold;
}

pc {
}

lg {
   display: block;
}

l {
   display: block;
}
